# Peer Reviewed Assignment

In [24]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [25]:
%sql ibm_db_sa://vkf57376:3xm%2Bmkrv8fcvm60v@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB

# Problem 1: Find the total number of crimes recorded in the crime table.

In [3]:
%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

# Problem 2: Retrieve first 10 rows from the CRIME table.

In [4]:
%sql select * from CHICAGO_CRIME_DATA order by ID limit 10

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(21149, 'HW519443', datetime.datetime(2013, 11, 3, 19, 27), '044XX S RICHMOND ST', '110', 'HOMICIDE', 'FIRST DEGREE MURDER', 'HOUSE', 'TRUE', 'TRUE', 922, 9, 14, 58, '01A', 1157439, 1875086, 2013, '08/05/2016 03:48:24 PM', Decimal('41.81299523'), Decimal('-87.69802859'), '(41.812995227, -87.698028592)'),
 (23469, 'JA359626', datetime.datetime(2017, 7, 23, 9, 25), '015XX E 82ND ST', '110', 'HOMICIDE', 'FIRST DEGREE MURDER', 'STREET', 'FALSE', 'FALSE', 411, 4, 8, 45, '01A', 1188090, 1850923, 2017, '07/30/2017 03:51:44 PM', Decimal('41.74601319'), Decimal('-87.58637073'), '(41.746013191, -87.58637073)'),
 (1326195, 'G021609', datetime.datetime(2001, 1, 11, 2, 30, 41), '087XX S ESCANABA AV', '9901', 'DOMESTIC VIOLENCE', 'DOMESTIC VIOLENCE', 'APARTMENT', 'TRUE', 'TRUE', 423, 4, None, None, '08B', 1196869, 1847416, 2001, '08/17/2015 03:03:40 PM', Decimal('41.73617608'), Decimal('-87.55431961'), '(41.73617608, -87.554319607)'),
 (1340847, 'G040244', datetime.datetime(2001, 1, 19, 18, 39, 3), '063XX N NAGLE AV', '820', 'THEFT', '$500 AND UNDER', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 1611, 16, None, None, '6', 1132586, 1941599, 2001, '08/17/2015 03:03:40 PM', Decimal('41.99598354'), Decimal('-87.78763989'), '(41.99598354, -87.787639887)'),
 (1353618, 'G056330', datetime.datetime(2001, 1, 27, 16, 20), '078XX S SAWYER AV', '460', 'BATTERY', 'SIMPLE', 'RESIDENCE PORCH/HALLWAY', 'TRUE', 'TRUE', 835, 8, None, None, '08B', 1156032, 1852572, 2001, '08/17/2015 03:03:40 PM', Decimal('41.75124194'), Decimal('-87.70379416'), '(41.751241937, -87.703794164)'),
 (1363954, 'G070193', datetime.datetime(2001, 2, 3, 3, 0), '004XX W WRIGHTWOOD AV', '460', 'BATTERY', 'SIMPLE', 'RESIDENCE', 'FALSE', 'FALSE', 2333, 19, None, None, '08B', 1172852, 1918278, 2001, '08/17/2015 03:03:40 PM', Decimal('41.93119046'), Decimal('-87.64021400'), '(41.93119046, -87.640214004)'),
 (1367327, 'G057394', datetime.datetime(2001, 1, 28, 7, 10), '046XX S CICERO AV', '1513', 'PROSTITUTION', 'SOLICIT FOR BUSINESS', 'STREET', 'TRUE', 'FALSE', 814, 8, None, None, '16', 1145110, 1873073, 2001, '08/17/2015 03:03:40 PM', Decimal('41.80771246'), Decimal('-87.74330304'), '(41.807712461, -87.743303038)'),
 (1414626, 'G134016', datetime.datetime(2001, 3, 1, 23, 0), '055XX S NOTTINGHAM AV', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'RESIDENCE', 'FALSE', 'FALSE', 811, 8, None, None, '14', 1130022, 1866716, 2001, '08/17/2015 03:03:40 PM', Decimal('41.79053860'), Decimal('-87.79878798'), '(41.790538595, -87.79878798)'),
 (1419496, 'G140454', datetime.datetime(2001, 3, 11, 16, 44, 5), '077XX S SOUTH SHORE DR', '460', 'BATTERY', 'SIMPLE', 'APARTMENT', 'FALSE', 'FALSE', 421, 4, None, None, '08B', 1197205, 1854743, 2001, '08/17/2015 03:03:40 PM', Decimal('41.75627357'), Decimal('-87.55284517'), '(41.756273565, -87.552845167)'),
 (1427912, 'G122095', datetime.datetime(2001, 3, 2, 16, 20), '039XX N ASHLAND AV', '1505', 'PROSTITUTION', 'CALL OPERATION', 'RESIDENCE', 'TRUE', 'FALSE', 1923, 19, None, None, '16', 1164982, 1926580, 2001, '08/17/2015 03:03:40 PM', Decimal('41.95414251'), Decimal('-87.66889815'), '(41.954142513, -87.668898147)')]

# Problem 3: How many crimes involve an arrest.

In [5]:
%sql select count(*) from CHICAGO_CRIME_DATA where Arrest = TRUE

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

# Problem 4: Which unique types of crimes (e.g. THEFT) have been recorded at a GAS STATION locations?

In [11]:
%sql select unique(primary_type), location_description from CHICAGO_CRIME_DATA where location_description = 'GAS STATION'

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS', 'GAS STATION'),
 ('NARCOTICS', 'GAS STATION'),
 ('ROBBERY', 'GAS STATION'),
 ('THEFT', 'GAS STATION')]

# Problem 5: In the CENUS_DATA table list all community areas whose names start with the letter ‘B’.

In [13]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NAME like 'B%'

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

# Problem 6: List the schools in community areas 10 to 15 that are healthy school certified.

In [17]:
%sql SELECT NAME_OF_SCHOOL FROM CHICAGO_PUBLIC_SCHOOLS \
WHERE HEALTHY_SCHOOL_CERTIFIED = 'Yes' AND  COMMUNITY_AREA_NUMBER BETWEEN 10 and 15

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

# Problem 7: What is the average school Safety Score?

In [18]:
%sql select AVG(SAFETY_SCORE) as SAFETY_SCORE_AVG from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

# Problem 8: Find the top 5 Community Areas by average College Enrollment [number of students].

In [21]:
%sql select COMMUNITY_AREA_NAME, AVG(college_enrollment) as AVG_college_enrollment from CHICAGO_PUBLIC_SCHOOLS \
group by COMMUNITY_AREA_NAME order by AVG_college_enrollment desc limit 5

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

# Problem 9: Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [22]:
%sql select community_area_name from  CHICAGO_PUBLIC_SCHOOLS \
where SAFETY_SCORE = (select min(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS)

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK',)]

# Problem 10: [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [36]:
%sql select A.PER_CAPITA_INCOME from CENSUS_DATA as A, CHICAGO_PUBLIC_SCHOOLS as B \
where (A.COMMUNITY_AREA_NUMBER = B.COMMUNITY_AREA_NUMBER) and B.SAFETY_SCORE = 1;

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(13785,)]

In [38]:
%sql select PER_CAPITA_INCOME, community_area_name from CENSUS_DATA where COMMUNITY_AREA_NUMBER = (select COMMUNITY_AREA_NUMBER from CHICAGO_PUBLIC_SCHOOLS where SAFETY_SCORE = 1)

 * ibm_db_sa://vkf57376:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(13785, 'Washington Park')]